// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
//header
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.product-grid4 {
    position: relative;

    .product-image4 {
        position: relative;
    }

    font-family: Poppins, sans-serif;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
    transition: all 0.3s ease 0s;

    &:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .product-image4 {
        a {
            display: flex;
        }

        img {
            width: 100%;

            height: 27em;
        }
    }

    .social {
        width: 180px;
        padding: 0;
        margin: 0 auto;
        list-style: none;
        position: absolute;
        right: 0;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: all 0.3s ease 0s;
    }

    &:hover .social li {
        opacity: 1;
    }

    .social li a {
        color: #222;
        background: #fff;
        font-size: 17px;
        line-height: 36px;
        width: 40px;
        height: 36px;
        border-radius: 2px;
        margin: 0 5px;
        display: block;
        transition: all 0.3s ease 0s;

        &:hover {
            color: #fff;
            background: #16a085;
        }

        &:after,
        &:before {
            content: attr(data-tip);
            color: #fff;
            background-color: #000;
            font-size: 12px;
            line-height: 20px;
            border-radius: 3px;
            padding: 0 5px;
            white-space: nowrap;
            opacity: 0;
            transform: translateX(-50%);
            position: absolute;
            left: 50%;
            top: -30px;
        }

        &:after {
            content: "";
            height: 15px;
            width: 15px;
            border-radius: 0;
            transform: translateX(-50%) rotate(45deg);
            top: -22px;
            z-index: -1;
        }

        &:hover {
            &:after,
            &:before {
                opacity: 1;
            }
        }
    }

    .product-discount-label,
    .product-new-label {
        color: #fff;
        background-color: #16a085;
        font-size: 13px;
        font-weight: 800;
        text-transform: uppercase;
        line-height: 60px;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        position: absolute;
        left: 10px;
        top: 15px;
        transition: all 0.3s;
    }

    .product-discount-label {
        left: auto;
        right: 10px;
        background-color: yellowgreen;
    }

    &:hover .product-new-label {
        opacity: 0;
    }

    .product-content {
        padding: 25px;
    }

    .title {
        font-size: 15px;
        font-weight: 400;
        text-transform: capitalize;
        margin: 0 0 7px;
        transition: all 0.3s ease 0s;

        a {
            color: #222;

            &:hover {
                color: #16a085;
            }
        }
    }

    .price {
        color: #16a085;
        font-size: 17px;
        font-weight: 700;
        margin: 0 2px 15px 0;
        display: block;
    }

    .add-to-cart {
        border: 1px solid #e5e5e5;
        display: inline-block;
        padding: 10px 20px;
        color: #888;
        font-weight: 600;
        font-size: 14px;
        border-radius: 4px;
        transition: all 0.3s;
    }

    &:hover .add-to-cart {
        border: 1px solid transparent;
        background: #16a085;
        color: #fff;
    }

    .add-to-cart:hover {
        background-color: #505050;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
}

@media only screen and (max-width: 990px) {
    .product-grid4 {
        margin-bottom: 30px;
    }
}

.aboutComponet {
    margin-top: 70px;
}
img.card-img-top {
    width: 100%;
    height: auto;
}
.category-menu {
    position: fixed;
}
.Body {
    margin-top: 5rem;
    display: flex;
}
.LoginPage {
    background-color: black;
    max-width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    .container {
        background-color: lightgreen;

        max-width: 50rem;
        padding-top: 7rem;
        height: 30rem;
        margin: auto;
        margin-top: 10rem;
        Form {
            max-width: 30rem;
            margin: auto;
            Button {
                margin-right: 1rem;
            }
        }
    }
}
* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

nav {
    .navbar-brand {
        color: rgb(105, 86, 86);
        font-size: 27px;
        font-weight: 600;
       
    }

    .navbar-nav {
        float: right;
        right: 7%;
        list-style-type: none;
        position: absolute;

        .nav-item {
            border-radius: 5px;
            display: inline-block;
            background: #1b1b1b;
            margin: 0 5px;




            .nav-link {
                color: white;

                text-decoration: none;
                font-size: 18px;
                padding: 8px 15px;

                &:hover {
                    color: cyan;
                    border-radius: 5px;
                    box-shadow: 0 0 5px #33ffff, 0 0 10px #66ffff;
                }
            }
        }
    }
}
.quantity {
    padding-left: 1.75rem;
    padding-bottom: 3rem;
}

.aboutComponet {
    margin-top: 70px;
}
img.card-img-top {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    height: 300px;
}
.category-menu {
    position: fixed;
}

.Body {
    margin-top: 5rem;
    display: flex;
}
.LoginPage {
    background-color: black;
    max-width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    .container {
        background-color: lightgreen;

        max-width: 50rem;
        padding-top: 7rem;
        height: 30rem;
        margin: auto;
        margin-top: 10rem;
        Form {
            max-width: 30rem;
            margin: auto;
            Button {
                margin-right: 1rem;
            }
        }
    }
}
.cart {
    position: relative;
    .quantity {
        position: absolute;
        z-index: 1;
        color: red;
        font-weight: 800;
        top: -5px;
    }
}
.cart-container {
    z-index: 1000;
    position: fixed;
    width: 30%;
    right: 0px;
    height: 40rem;
    background-color: wheat;
}
// <<<<<<< HEAD
// .cart-item {
//     display: flex;
//     background-color: rosybrown;
//     width: 100%;
//     height: 50%;
//     border-radius: 10px;
//     &__container {
//         &__row {
//             width: 13px;
//             height: 13px;
//             &__col {
//                 img {
//                     width: 100px;
//                     height: 100px;
//                 }
//             }
//             &__name {
//             }
//         }
//     }
// }

.cart-item {
    border: 1px solid red;

    padding-right: 0px;

    &__container {
        &__row {
            &__col {
                & > img {
                    width: 3rem;
                    height: 3rem;
                }
            }
            &__name {
                display: flex;

                align-items: center;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
        &__quantity {
            & .quantity {
                margin-right: 15px;
                width: 1rem;
                input {
                    width: 2.5rem;
                    outline: none;
                    text-align: center;
                }

                text-align: center;
            }
        }
        &__price {
            padding-left: 1rem;
        }
    }
}
.paypage {
    background-color: black;
    width: 20rem;
    height: 20rem;
}

.cart-icon-header {
    background: aliceblue;
    border-radius: 7px;
}
