// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.aboutComponet {
    margin-top: 70px;
}
img.card-img-top {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    height: 300px;
}
.category-menu{
    position:fixed;
}
.Body{
    margin-top: 5rem;
    display: flex;
}
.LoginPage{
    background-color: black;
    max-width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    .container{

        background-color: lightgreen;
    
        max-width: 50rem;
        padding-top: 7rem;
        height: 30rem;
        margin: auto;
        margin-top: 10rem;
        Form{
            
            max-width: 30rem;
            margin: auto;
            Button{
                margin-right: 1rem;
            }
        }
    }
    
}
.cart{
    position: relative;
    .quantity{
        position: absolute;
        z-index: 1;
        color: red;
        font-weight: 800;
        top:-5px
    }
}
.cart-container{
    
    transition: all 1000s ease-in-out 0s;
    z-index: 1000;
    position: fixed;
    right:0;
    width: 30%;
    height: 45rem;
    background-color: whitesmoke;
    border: 1px solid lightgray;
    padding-right: 0px;
    
    &__paycontainer{
        position: absolute;
        right: 1rem;
        bottom: 1rem;
        width:100%;
        display: flex;
        &__value{
            font-weight: 800;
            font-size: 2rem;
            color:red
        }
        
    }
    
    
}

.cart-item{

    border: 1px solid lightgray;
    
    padding-right: 0px;
    
   &__container{
   
    
       &__row{
        
        
           &__col{
           
            
              &>img{
                  width: 3rem;
                  height: 3rem;
              }
           }
           &__name{
                display: flex;
               
                align-items: center;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
           }
       }
       &__quantity{
           
           
       
           & .quantity{
               
               margin-right: 15px;
               width: 1rem;
               input{
                   width:2.5rem;
                   outline:none;
                   text-align: center;
               }
            
               text-align: center;
           }
           
       }
       &__price{
        
        padding-left: 1rem;

 
        
    }
   }
}
.paypage{
    background-color: black;
    width: 20rem;
    height: 20rem   ;
}