// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.aboutComponet {
    margin-top: 70px;
}
img.card-img-top {
    width: 200px;
    height: 230px;
}
.category-menu{
    position:fixed;
}
