@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");
// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
//header

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.product-grid4 {
    position: relative;

    .product-image4 {
        position: relative;
    }

    font-family: Poppins, sans-serif;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
    transition: all 0.3s ease 0s;

    &:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .product-image4 {
        a {
            display: flex;
        }

        img {
            width: 100%;

            height: 20rem;
        }
    }

    .social {
        width: 180px;
        padding: 0;
        margin: 0 auto;
        list-style: none;
        position: absolute;
        right: 0;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: all 0.3s ease 0s;
    }

    &:hover .social li {
        opacity: 1;
    }

    .social li a {
        color: #222;
        background: #fff;
        font-size: 17px;
        line-height: 36px;
        width: 40px;
        height: 36px;
        border-radius: 2px;
        margin: 0 5px;
        display: block;
        transition: all 0.3s ease 0s;

        &:hover {
            color: #fff;
            background: #16a085;
        }

        &:after,
        &:before {
            content: attr(data-tip);
            color: #fff;
            background-color: #000;
            font-size: 12px;
            line-height: 20px;
            border-radius: 3px;
            padding: 0 5px;
            white-space: nowrap;
            opacity: 0;
            transform: translateX(-50%);
            position: absolute;
            left: 50%;
            top: -30px;
        }

        &:after {
            content: "";
            height: 15px;
            width: 15px;
            border-radius: 0;
            transform: translateX(-50%) rotate(45deg);
            top: -22px;
            z-index: -1;
        }

        &:hover {
            &:after,
            &:before {
                opacity: 1;
            }
        }
    }

    .product-discount-label,
    .product-new-label {
        color: #fff;
        background-color: #16a085;
        font-size: 13px;
        font-weight: 800;
        text-transform: uppercase;
        line-height: 60px;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        position: absolute;
        left: 10px;
        top: 15px;
        transition: all 0.3s;
    }

    .product-discount-label {
        left: auto;
        right: 10px;
        background-color: yellowgreen;
    }

    &:hover .product-new-label {
        opacity: 0;
    }

    .product-content {
        padding: 25px;
    }

    .title {
        font-size: 15px;
        font-weight: 400;
        text-transform: capitalize;
        margin: 0 0 7px;
        transition: all 0.3s ease 0s;

        a {
            color: #222;

            &:hover {
                color: #16a085;
            }
        }
    }

    .price {
        color: #16a085;
        font-size: 17px;
        font-weight: 700;
        margin: 0 2px 15px 0;
        display: block;
    }

    .add-to-cart {
        border: 1px solid #e5e5e5;
        display: inline-block;
        padding: 10px 20px;
        color: #888;
        font-weight: 600;
        font-size: 14px;
        border-radius: 4px;
        transition: all 0.3s;
    }

    &:hover .add-to-cart {
        border: 1px solid transparent;
        background: #16a085;
        color: #fff;
    }

    .add-to-cart:hover {
        background-color: #505050;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
}


//header//
//menu//
.Category {
    background-color: #1b1b1b;
}
.sidebar-category {
    position: fixed;
    width: 250px;
    height: 25%;
    left: 0;
    margin-top: -12px;
    background: #1b1b1b;

    .text-category {
        color: white;
        font-size: 25px;
        font-weight: 600;
        line-height: 65px;
        text-align: center;
        background: #1e1e1e;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .ul-category {
        background: #1b1b1b;
        height: 100%;
        width: 100%;
        list-style: none;

        .li-category {
            line-height: 30px;
            border-top: 1px solid rgba(255, 255, 255, 0.1);

            &:last-child {
                border-bottom: 1px solid rgba(255, 255, 255, 0.05);
            }
            .list-group-item {
                position: relative;
                color: white;
                text-decoration: none;
                font-size: 20px;
                padding-left: 40px;
                font-weight: 600;
                display: block;
                width: 100%;
                border-top: none;
                border-bottom: none;
                border-left: 3px solid transparent;
                box-sizing: border-box;
                font-family: "Poppins", sans-serif;
                background-color: #1e1e1e;
            }

            .list-group-item.active {
                color: cyan;

                border-left-color: cyan;
            }

            .list-group-item:hover {
                color: cyan;
                background: #1e1e1e;
            }
        }
    }
}

.Menu {
    &__mobie {
        display: none;
        position: fixed;
        z-index: 100;
        & > .ul-category-responsive {
            width: 10rem;
            list-style: none;
            position: absolute;
            display: inline;
        }
        .none {
            display: none;
        }
    }
    
}

//menu//
//footer//
.footer {
    line-height: 1.5;
    background-color: #24262b;
    padding: 20px 0;
    .container {
        max-width: 1170px;
        margin: auto;
    }
    .h2-footer {
        padding-top: 20px;
        font-size: 20px;
        color: #ffffff;
        font-family: Georgia, "Times New Roman", Times, serif;
        margin-bottom: 35px;
        font-weight: 500;
        position: relative;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .ul-footer {
        list-style: none;
    }

    .footer-col {
        width: 25%;
        padding: 0 20px;

        .h4-footer {
            font-size: 18px;
            color: #ffffff;
            text-transform: capitalize;
            margin-bottom: 35px;
            font-weight: 500;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                bottom: -10px;
                background-color: #e91e63;
                height: 2px;
                box-sizing: border-box;
                width: 50px;
            }
        }
        .p-footer {
            color: #fff;
        }

        .ul-footer .li-footer {
            &:not(:last-child) {
                margin-bottom: 10px;
            }

            .a-footer {
                font-size: 16px;
                text-transform: capitalize;
                color: #ffffff;
                text-decoration: none;
                font-weight: 300;
                color: #bbbbbb;
                display: block;
                transition: all 0.3s ease;

                &:hover {
                    color: #ffffff;
                    padding-left: 8px;
                }
            }
        }

        .social-links .a-footer {
            display: inline-block;
            height: 40px;
            width: 40px;
            background-color: rgba(255, 255, 255, 0.2);
            margin: 0 10px 10px 0;
            text-align: center;
            line-height: 40px;
            border-radius: 50%;
            color: #ffffff;
            transition: all 0.5s ease;

            &:hover {
                color: #24262b;
                background-color: #ffffff;
            }
        }
    }
    .footer-col:nth-child(1) {
        width: 18rem;
    }

    
}
//footer//
.aboutComponet {
    margin-top: 70px;
}
img.card-img-top {
    width: 100%;
    height: auto;
}
.category-menu {
    position: fixed;
}
.Body {
    margin-top: 5rem;
    display: flex;
}
.LoginPage {
    background-color: black;
    max-width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    .container {
        background-color: lightgreen;

        max-width: 50rem;
        padding-top: 7rem;
        height: 30rem;
        margin: auto;
        margin-top: 10rem;
        Form {
            max-width: 30rem;
            margin: auto;
            Button {
                margin-right: 1rem;
            }
        }
    }
}
* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

nav {
    .navbar-brand {
        color: rgb(105, 86, 86);
        font-size: 27px;
        font-weight: 600;
    }

    .navbar-nav {
        float: right;
        right: 7%;
        list-style-type: none;
        position: absolute;

        .nav-item {
            border-radius: 5px;
            display: inline-block;
            background: #1b1b1b;
            margin: 0 5px;

            .nav-link {
                color: white;

                text-decoration: none;
                font-size: 18px;
                padding: 8px 15px;

                &:hover {
                    color: cyan;
                    border-radius: 5px;
                    box-shadow: 0 0 5px #33ffff, 0 0 10px #66ffff;
                }
            }
        }
    }
}

.LoginSignUp_btn {
    // background-color: #1b1b1b;
    color: white;
    border: none;
    font-size: 18px;
    padding-top: 0;
    &:hover {
        color: cyan;
    }
    &:focus {
        box-shadow: none;
        background-color: #1b1b1b;
    }
}

.quantity {
    padding-left: 1.75rem;
    padding-bottom: 3rem;
    > input {
        outline: none;
        border-left: none;
        border-right: none;
        border-top: none;
    }
}

.aboutComponet {
    margin-top: 70px;
}
img.card-img-top {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    height: 300px;
}
.category-menu {
    position: fixed;
}

.Body {
    margin-top: 5rem;
    display: flex;
}
.LoginPage {
    background-color: black;
    max-width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    .container {
        background-color: lightgreen;

        max-width: 50rem;
        padding-top: 7rem;
        height: 30rem;
        margin: auto;
        margin-top: 10rem;
        Form {
            max-width: 30rem;
            margin: auto;
            Button {
                margin-right: 1rem;
            }
        }
    }
}
.cart {
    position: relative;
    .quantity {
        text-align: center;
        position: absolute;
        z-index: 1;
        color: red;
        font-weight: 800;
        top: -10px;
        right: -4px;
    }
}
.cart-container {
    z-index: 1000;
    position: fixed;
    width: 30%;
    right: 0px;
    height: 30rem;
    background-color: #1f2739;
    border-radius: 10px;
    overflow: auto;

    &__paycontainer {
        margin-top: 1rem;
        background-color: #1f2739;
        border-radius: 10px;
        align-items: center;
        &__value {
            padding-left: 5rem;
            font-size: x-large;
            overflow: hidden;
            font-weight: 600;
            color: #fff;
        }
    }
}
.cart-container::-webkit-scrollbar {
    width: 0;
}
.cart-item {
    position: relative;
    box-sizing: border-box;
    font-family: "Poppins";
    padding-right: 0px;
    background-color: none;
    transition: all 0.5s;
    height: 5rem;
    width: 28.5rem;
    border-radius: 10px;
    margin-top: 1rem;
    color: #4dc3fa;
    position: relative;

    &:hover {
        transform: scale(1.05);
        border-radius: 10px;
        background-color: #fff842;
        color: #403e10;
    }
    ::nth-child(odd) {
        background-color: #323c50;
    }
    ::nth-child(even) {
        background-color: #2c3446;
    }
    &__container {
        &__row {
            &__col {
                & > img {
                    width: 5rem;
                    height: 5rem;
                    margin-left: -30px;
                    border-radius: 10px;
                }
            }
            &__name {
                display: block;
                align-items: center;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                text-transform: uppercase;
                padding-top: 8%;
                font-size: 15px;
                font-weight: bold;
            }
        }
        &__quantity {
            & .quantity {
                margin-right: 15px;
                width: 1rem;
                input {
                    width: 2.5rem;
                    outline: none;
                    text-align: center;
                }

                text-align: center;
            }
            img {
                width: 20px;
                height: 20px;
                padding-right: 0.5px;
                padding-top: 0.5px;
                background: gainsboro;
                border-radius: 10px;
                border: 2px solid #000;
            }
        }
        &__price {
            padding-left: 2rem;
        }
    }
}

.paypage {
    background-color: black;
    width: 20rem;
    height: 20rem;
}

.cart-icon-header {
    background: aliceblue;
    border-radius: 7px;
}
.user-avt {
    // width: 50%;
    height: 2rem;
    &__toggle {
        height: 100%;
    }
}
.error {
    color: red;
}
.col-2 {
    height: 2rem;
}

.account-page {
    // text-align: center;
    margin-top: 5rem;
    padding-top: 5rem;
    height: 40rem;
}

.changepassword-page {
    margin-top: 5rem;
    padding-top: 5rem;
    height: 40rem;
    a {
        color: white;
    }
}

.ProductCard {

    position: relative;
    & > .product-detail {
        z-index: 100;

        position: absolute;
        background-color: whitesmoke;
        display: none;
    }
    &:hover .product-detail {
       
        display: block;
    }
}
.nav-item.nav-item1{
    display: none;
}

@media screen and (max-width: 768px) {
    .Menu {
        width: 0px;
        // background-color: black;
        .Menu__mobie {
            display: inline;
        }
        &__laptop {
            display: none;
        }
    }
}

/*responsive*/
@media (max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}

@media only screen and (max-width: 990px) {
    .product-grid4 {
        margin-bottom: 30px;
    }
}

// response gio hang
@media screen and (max-width: 768px) {
    .navbar .container, .navbar .container-fluid, .navbar .container-sm, .navbar .container-md, .navbar .container-lg, .navbar .container-xl{
        justify-content: flex-end;
        // align-items: stretch;

    }.navbar-toggler{
        border:none;
    }
    
    .navbar-toggler-icon{
        width: 2rem;
        height: 2rem;
    }
    .bi-person-circle {
                width: 2rem;
                height: 2rem;
            }
    .nav-item .cart-icon-header {
        display:none;
        
    }
    .navbar-brand{
        display:none;
    }
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
    li.nav-item.sign-up{
        display: none;
    }
    li.nav-item.sign-up1{
        display: block;
    }
    li.nav-item.login{
        display: none;
    }
    .nav-item.nav-item1{
        display: inline-block;
    }
    .nav-link{
        padding:5px;
    }
    .cart .quantity {
        text-align: center;
        position: absolute;
        z-index: 1;
        color: red;
        font-weight: 800;
        top: 4px;
        right: 4px;
    }
    img.user-avt__card__img.card-img-top {
        width: 20px;
    }
    a.nav-link.cart-icon-header {
        height: 2.3rem;
    }
}
.history-page{
    margin-top: 5rem;
    height: 40rem;
}
img.teamimage {
    width: 554px;
    padding: 5px;
    margin-bottom: 24px;
}