@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css");
@import url("https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
.Container {
    display: flex;
    .product-grid4 {
        position: relative;

        .product-image4 {
            position: relative;
        }

        font-family: Poppins, sans-serif;
        text-align: center;
        border-radius: 5px;
        overflow: hidden;
        z-index: 1;
        transition: all 0.3s ease 0s;

        &:hover {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

        .product-image4 {
            a {
                display: flex;
            }

            img {
                width: 100%;

                height: auto;
            }
        }

        .social {
            width: 180px;
            padding: 0;
            margin: 0 auto;
            list-style: none;
            position: absolute;
            right: 0;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            transition: all 0.3s ease 0s;

            li {
                display: inline-block;
                opacity: 0;
                transition: all 0.7s;

                &:nth-child(1) {
                    transition-delay: 0.15s;
                }

                &:nth-child(2) {
                    transition-delay: 0.3s;
                }
                &:nth-child(3) {
                    transition-delay: 0.45s;
                }
            }
        }

        &:hover .social li {
            opacity: 1;
        }

        .social li a {
            color: #222;
            background: #fff;
            font-size: 17px;
            line-height: 36px;
            width: 40px;
            height: 36px;
            border-radius: 2px;
            margin: 0 5px;
            display: block;
            transition: all 0.3s ease 0s;

            &:hover {
                color: #fff;
                background: #16a085;
            }

            &:after,
            &:before {
                content: attr(data-tip);
                color: #fff;
                background-color: #000;
                font-size: 12px;
                line-height: 20px;
                border-radius: 3px;
                padding: 0 5px;
                white-space: nowrap;
                opacity: 0;
                transform: translateX(-50%);
                position: absolute;
                left: 50%;
                top: -30px;
            }

            &:after {
                content: "";
                height: 15px;
                width: 15px;
                border-radius: 0;
                transform: translateX(-50%) rotate(45deg);
                top: -22px;
                z-index: -1;
            }

            &:hover {
                &:after,
                &:before {
                    opacity: 1;
                }
            }
        }

        .product-discount-label,
        .product-new-label {
            color: #fff;
            background-color: #16a085;
            font-size: 13px;
            font-weight: 800;
            text-transform: uppercase;
            line-height: 45px;
            height: 45px;
            width: 45px;
            border-radius: 50%;
            position: absolute;
            left: 10px;
            top: 15px;
            transition: all 0.3s;
        }

        .product-discount-label {
            left: auto;
            right: 10px;
            background-color: #d7292a;
        }

        &:hover .product-new-label {
            opacity: 0;
        }

        .product-content {
            padding: 25px;
        }

        .title {
            font-size: 15px;
            font-weight: 400;
            text-transform: capitalize;
            margin: 0 0 7px;
            transition: all 0.3s ease 0s;

            a {
                color: #222;

                &:hover {
                    color: #16a085;
                }
            }
        }

        .price {
            color: #16a085;
            font-size: 17px;
            font-weight: 700;
            margin: 0 2px 15px 0;
            display: block;
        }

        .add-to-cart {
            border: 1px solid #e5e5e5;
            display: inline-block;
            padding: 10px 20px;
            color: #888;
            font-weight: 600;
            font-size: 14px;
            border-radius: 4px;
            transition: all 0.3s;
        }

        &:hover .add-to-cart {
            border: 1px solid transparent;
            background: #16a085;
            color: #fff;
        }

        .add-to-cart:hover {
            background-color: #505050;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }
    }

    @media only screen and (max-width: 990px) {
        .product-grid4 {
            margin-bottom: 30px;
        }
    }
}
