@import url(https://fonts.googleapis.com/css?family=Nunito);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css);
.Menu.col-lg-2.menu-class {
  height: 500px;
  position: fixed;
  top: 10%;
  background-color: none;
  border-radius: 5px;
  width: 15%;
  overflow: hidden;
}

img.image-product-admin {
  width: 70px;
}

.conten-component-admin {
  margin-left: 20%;
  margin-top: 3%;
  margin-bottom: 20%;
}

img.Card-Img-Detail.card-img {
  width: 200px;
  margin: 0 auto;
  height: 250px;
}

.add-button-admin {
  display: flex;
  justify-content: flex-end;
}

label.label-insert-admin {
  width: 150px;
}

.input-group {
  padding: 5px;
}

.show-product-item-admin {
  display: none;
}

.footer {
  line-height: 1.5;
  background-color: #24262b;
  padding: 20px 0;
  margin-bottom: -30px;
}
.footer .container {
  max-width: 1170px;
  margin: auto;
}
.footer .h2-footer {
  padding-top: 20px;
  font-size: 20px;
  color: #ffffff;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer .ul-footer {
  list-style: none;
}
.footer .footer-col {
  width: 25%;
  padding: 0 20px;
}
.footer .footer-col .h4-footer {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer .footer-col .h4-footer::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer .footer-col .p-footer {
  color: #fff;
}
.footer .footer-col .ul-footer .li-footer {
  margin-left: -32px;
}
.footer .footer-col .ul-footer .li-footer:not(:last-child) {
  margin-bottom: 10px;
}
.footer .footer-col .ul-footer .li-footer .a-footer {
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 400;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer .footer-col .ul-footer .li-footer .a-footer:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer .footer-col .social-links .a-footer {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer .footer-col .social-links .a-footer:hover {
  color: #24262b;
  background-color: #ffffff;
}
.footer .footer-col:nth-child(1) {
  width: 18rem;
}

.modal-dialog.order-detail-customer-admin {
  max-width: 100%;
}

.img-order-detail {
  width: 10%;
}

section {
  margin: 0px 41px;
  top: 0;
  left: 0;
  position: relative;
  width: 95%;
  height: 88vh;
  display: flex;
}
section .imgBx {
  position: absolute;
  width: 100%;
  height: 100%;
}
section .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
section .contentBx {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
section .contentBx .formBx {
  width: 50%;
  padding: 40px;
  background: rgba(255, 255, 255, 0.9);
  margin: 50px;
}
section .contentBx .formBx h2 {
  color: #607d8b;
  font-weight: 600;
  font-size: 1.5em;
  text-transform: uppercase;
  border-bottom: 4px solid #561139;
  display: inline-block;
  letter-spacing: 1px;
  text-align: center;
  margin: 30px 0 10px;
}
section .contentBx .formBx .inputBx {
  margin-bottom: 20px;
}
section .contentBx .formBx .inputBx span {
  color: #607db8;
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 5px;
  display: inline-block;
  letter-spacing: 1px;
}
section .contentBx .formBx .inputBx input {
  width: 100%;
  padding: 10px 20px;
  outline: none;
  font-weight: 400;
  border: 1px solid #607d8b;
  font-size: 16px;
  letter-spacing: 1px;
  color: #607d8b;
  background: transparent;
  border-radius: 30px;
}
section .contentBx .formBx .inputBx input[type=submit] {
  background: linear-gradient(75deg, #38a2d7, #561139);
  color: #fff;
  outline: none;
  border: none;
  font-weight: 500;
  cursor: pointer;
}
section .contentBx .formBx .inputBx input[type=submit]:hover {
  background: linear-gradient(75deg, #256e8e, #390b26);
}
section .contentBx .formBx .remember {
  margin-bottom: 10px;
  color: #607d8b;
  font-weight: 500;
  font-size: 14px;
}
section .contentBx .formBx .inputBx p {
  color: #607d8b;
}
section .contentBx .formBx .inputBx p a {
  color: #ff4584;
}
