

.Menu.col-lg-2.menu-class {
  height: 500px;
  position: fixed;
  top: 10%;
  background-color: cornflowerblue;
  border-radius: 5px;
  width: 15%;
  overflow: hidden;
  }
  
  
  
  img.image-product-admin {
    width: 70px;
  }
  
  .conten-component-admin {
   margin-left: 20%;
   margin-top: 10%;
  }
  
  img.Card-Img-Detail.card-img {
    width: 200px;
    margin: 0 auto;
    height: 250px;
}
.add-button-admin {
  display: flex;
  justify-content: flex-end;
}


label.label-insert-admin {
  width: 150px;
}

.input-group {
  padding: 5px;
}


.show-product-item-admin{
  display: none;
}



.footer-admin-page {
  background: chartreuse;
  display: flex;
    justify-content: space-between;
  position: relative;
  top: 40px;
 
}

.modal-dialog.order-detail-customer-admin {
  max-width: 100%;
}
.img-order-detail{
  width: 10%;
}

