

.Menu.col-lg-2.menu-class {
    height: 500px;
    position: fixed;
    top: 10%;
    background-color: cornflowerblue;
    border-radius: 5px;
  }
  
  .Body {
    display: flex;
  }
  
  img.image-product-admin {
    width: 70px;
  }
  
  .conten-component-admin {
    position: absolute;
    left: 20%;
    top: 15%;
  }
  
  img.Card-Img-Detail.card-img {
    width: 200px;
    margin: 0 auto;
    height: 250px;
}
.add-button-admin {
  display: flex;
  justify-content: flex-end;
}


label.label-insert-admin {
  width: 150px;
}

.input-group {
  padding: 5px;
}


.show-product-item-admin{
  display: none;
}

